[Unit]
Description=Bot Starter.
After=muti-user.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/root/randommeet
ExecStart=/usr/bin/python3 /root/randommeet/app.py
User=root
RestartSec=30



[Install]
WantedBy=muti-user.target
